<h3>@ListName</h3>

@if(Items.Count == 0)
{
    <h4>No @ListName</h4>
}
else
{
    <ul>
    @foreach(var item in Items)
    {
        <li>@item.TaskName</li>   
    }
    </ul>
}


@code {
    [Parameter]
    public string ListName { get; set; } = string.Empty;

    //[Parameter]
    public List<ToDoItem> Items { get; set; } = new();
}
